click==6.7
Flask==0.12
funcy==1.7.3
future==0.16.0
itsdangerous==0.24
Jinja2==2.9.5
joblib==0.10.3
MarkupSafe==0.23
nltk==3.2.2
numexpr==2.6.2
numpy==1.12.0
pandas==0.19.2
py==1.4.32
pyLDAvis==2.1.1
pytest==3.0.6
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
Werkzeug==0.11.15